In [18]:
import akshare as ak
import pandas as pd
import yfinance as yf
from datetime import datetime

In [19]:
class ExcelFile:
    writer = None
    def __init__(self, fp):
        global writer
        writer = pd.ExcelWriter(fp, engine='xlsxwriter')
        
    def CreateNewSheetWithData(self, df, sn, index=True):
        df.to_excel(writer, sheet_name=sn, index=index)

    def Close(self):
        writer.save()
        writer.close()

In [20]:
end_date_yahoo = datetime.now().strftime("%Y-%m-%d")

USDCNY_data = yf.download('USDCNY=X', start='2000-01-01', end=end_date_yahoo)
USDCNY_data["AVG"] = (USDCNY_data["Open"] + USDCNY_data["High"] + USDCNY_data["Low"] + USDCNY_data["Close"]) / 4
USDCNY_data.reset_index(inplace=True)
USDCNY_data['Date'] = pd.to_datetime(USDCNY_data['Date'])

[*********************100%***********************]  1 of 1 completed

In [21]:
end_date = datetime.now().strftime("%Y%m%d")
start_date = USDCNY_data.iloc[0]["Date"].strftime("%Y%m%d")

In [22]:
def CNY2USD(cny, date, dec = 2):
    dates = USDCNY_data[USDCNY_data["Date"] == date]
    if(len(dates) > 0):
        return round(cny * dates.iloc[0]["AVG"], dec)
    else:
        # print("Date Not Founded : ", date)
        return -1

In [24]:
shanghay_composite_index = ak.stock_zh_a_hist_163(symbol="sh000001", start_date=start_date, end_date=end_date)
shanghay_composite_index.columns = ["Date", "Stock Code", "Name", "Closing Price", "Highest Price", "Lowest Price", "Open Price", "Previous Close", "Amount up or down", "Up/Down",
"Change hands rate", "Volume", "Turnover", "Total Market Capitalization", "Market Capitalization"]
shanghay_composite_index = shanghay_composite_index.drop(["Name", "Stock Code"], axis=1)

In [ ]:
shanghay_composite_index["Turnover (USD)"] = shanghay_composite_index.apply(lambda row: CNY2USD(row['Turnover'], row['Date']), axis=1)
shanghay_composite_index = shanghay_composite_index[shanghay_composite_index["Turnover (USD)"] != -1]

In [ ]:
shanghay_composite_index['Date'] = pd.to_datetime(shanghay_composite_index['Date'])
shanghay_composite_index

,Date,Closing Price,Highest Price,Lowest Price,Open Price,Previous Close,Amount up or down,Up/Down,Change hands rate,Volume,Turnover,Total Market Capitalization,Market Capitalization,Turnover (USD)
348,2001-06-25,2230.1970,2230.2210,2210.0410,2210.0690,2206.0670,24.1300,1.0938,NaN,14715507.0,1.489307e+10,NaN,NaN,1.232662e+11
349,2001-06-26,2233.5910,2236.7780,2223.4980,2234.0710,2230.1970,3.3940,0.1522,NaN,16016553.0,1.670082e+10,NaN,NaN,1.382294e+11
353,2001-07-02,2205.9850,2223.2070,2201.5860,2220.4190,2218.0290,-12.0440,-0.5430,NaN,12083407.0,1.042265e+10,NaN,NaN,8.626672e+10
358,2001-07-09,2169.6550,2175.1650,2164.0090,2169.4670,2170.5210,-0.8660,-0.0399,NaN,8908828.0,7.809558e+09,NaN,NaN,6.463776e+10
360,2001-07-11,2168.7400,2192.5230,2167.6710,2190.9770,2189.7850,-21.0450,-0.9611,NaN,7251158.0,7.264992e+09,NaN,NaN,6.013180e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5544,2022-11-21,3085.0444,3085.2426,3056.1703,3078.0569,3097.2432,-12.1988,-0.3939,NaN,256045549.0,3.450255e+11,NaN,NaN,2.460411e+12
5545,2022-11-22,3088.9426,3118.1197,3076.3214,3084.2328,3085.0444,3.8982,0.1264,NaN,327565927.0,3.741428e+11,NaN,NaN,2.677366e+12
5546,2022-11-23,3096.9073,3108.2438,3075.3241,3084.7403,3088.9426,7.9647,0.2578,NaN,326155449.0,3.564008e+11,NaN,NaN,2.547277e+12
5547,2022-11-24,3089.3096,3113.2392,3084.8554,3104.0955,3096.9073,-7.5977,-0.2453,NaN,267482928.0,3.081902e+11,NaN,NaN,2.205309e+12
5548,2022-11-25,3101.6932,3111.4214,3077.9671,3085.4611,3089.3096,12.3836,0.4009,NaN,311431979.0,3.254263e+11,NaN,NaN,2.328889e+12

In [ ]:
shenzhen_composite_index = ak.stock_zh_a_hist_163(symbol="zs399106", start_date="20000101", end_date='20221125')
shenzhen_composite_index.columns = ["Date", "Stock Code", "Name", "Closing Price", "Highest Price", "Lowest Price", "Open Price", "Previous Close", "Amount up or down", "Up/Down",
"Change hands rate", "Volume", "Turnover", "Total Market Capitalization", "Market Capitalization"]
shenzhen_composite_index = shenzhen_composite_index.drop(["Name", "Stock Code"], axis=1)
shenzhen_composite_index['Date'] = pd.to_datetime(shenzhen_composite_index['Date'])

In [ ]:
shenzhen_composite_index["Turnover (USD)"] = shenzhen_composite_index.apply(lambda row: CNY2USD(row['Turnover'], row['Date']), axis=1)
shenzhen_composite_index = shenzhen_composite_index[shenzhen_composite_index["Turnover (USD)"] != -1]

In [ ]:
excel_file = ExcelFile("./Files/Result_Try1.xlsx")

In [ ]:
excel_file.CreateNewSheetWithData(shanghay_composite_index, "Shanghay Composite Index", False)
excel_file.CreateNewSheetWithData(shenzhen_composite_index, "Shenzhen Composite Index", False)
excel_file.CreateNewSheetWithData(USDCNY_data, "USDCNY")
excel_file.Close()

c:\ProgramData\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")